.container
        section.features
            .row
                .col-xs-4
                    .features-block
                        .features-icon
                            svg.icon
                                use(xlink:href="#icon-gear")
                        h4 Awesome Sliders
                        p.features-text Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.
                .col-xs-4
                    .features-block
                        .features-icon
                            svg.icon
                                use(xlink:href="#icon-pen")
                        h4 Modern Theme
                        p.features-text Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.
                .col-xs-4
                    .features-block
                        .features-icon
                            svg.icon
                                use(xlink:href="#icon-user")
                        h4 Customize It
                        p.features-text Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.