footer
    .container
        .row.between-xs
            .footer-col.recent
                p.footer-title Recent Posts
                ul.recent-list
                    li.recent-list-item
                        p Wedding Photos that Will Blow Your Mind Away.
                    li.recent-list-item
                        p Intent WordPress Theme Features are Amazing.
                    li.recent-list-item
                        p A New Era of Design is Here.
                    li.recent-list-item
                        p Creativio WordPress Theme now Available for Sale.
            .footer-col.about
                p.footer-title About INTENT
                p.about-text Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit commune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.
                    
                p.about-text Id vitae regione has. In tollit dicant vim. His ex detracto percipitur, id vis nibh quas illum. Delicata dissentiet ius ne, latine euripidis quaerendum et vis.
            .footer-col.social-media
                p.footer-title Social Media
                .social-media-icons.row
                    a(href="#").social-media-icon-1
                    a(href="#").social-media-icon-2
                    a(href="#").social-media-icon-3
                    a(href="#").social-media-icon-4
                    a(href="#").social-media-icon-5
                    a(href="#").social-media-icon-6
                    a(href="#").social-media-icon-7
                    a(href="#").social-media-icon-8
                    a(href="#").social-media-icon-9
                    a(href="#").social-media-icon-10
                    a(href="#").social-media-icon-11
                    a(href="#").social-media-icon-12
                    a(href="#").social-media-icon-13
                    a(href="#").social-media-icon-14
                    a(href="#").social-media-icon-15
                    a(href="#").social-media-icon-16
                    a(href="#").social-media-icon-17
                    a(href="#").social-media-icon-18
                    a(href="#").social-media-icon-19
                    a(href="#").social-media-icon-20