header
    .header-top
        .container
            .row.middle-xs.end-xs
                .col-xs
                    // SOCIAL-ICONS
                    include social-icons
                    // SOCIAL-ICONS ends
    .header-bottom
        .container
            .row.middle-xs
                .col-xs-2
                    // LOGO
                    include logo
                    // LOGO ends
                .col-xs-offset-6.col-xs-4
                    // MENU
                    include menu
                    // MENU ends
//note: проверить sgv в IE