.container
    section.inner-section
        header.section-header
            .row.middle-xs
                .section-header-name
                    block hdr-title
                        h1.section-header-title #{thisPage}
                        h2.section-header-subtitle Keep in the loop