.container
    section.inner-section
        header.section-header
            .row.middle-xs
                .section-header-name
                    h1.section-header-title Blog
                    h2.section-header-subtitle Keep in the loop