.container
    header.section-header
        block thumb
            //THUMBNAILS
            include thumbnails
            //THUMBNAILS ends
        block header-name
            .row.middle-xs
                .section-header-name
                    block hdr-title
                        h1.section-header-title #{thisPage}
                        h2.section-header-subtitle #{subTitle}
    section.inner-section
        block blog-page
            //BLOG-PAGE
            include blog-page
            //BLOG-PAGE ends
        block features
            //FEATURES
            include features
            //FEATURES ends
        block tagline
            //TAGLINE
            include tagline
            //TAGLINE ends
        block work
            // WORK
            include work
            // WORK ends