main
    .slider
        .slide
            img(data-lazy="../img/pic/slider1.jpg", alt="slide")
        .slide
            img(data-lazy="../img/pic/slider2.jpg", alt="slide")
        .slide
            img(data-lazy="../img/pic/slider3.jpg", alt="slide")
        .slide
            img(data-lazy="../img/pic/slider4.jpg", alt="slide")
        .slide
            img(data-lazy="../img/pic/slider5.jpg", alt="slide")
        .slide
            img(data-lazy="../img/pic/slider6.jpg", alt="slide")