main
    // THUMBNAILS
    include thumbnails
    // THUMBNAILS ends
    // FEATURES
    include features
    // FEATURES ends
    // TAGLINE
    include tagline
    // TAGLINE ends
    // WORK
    include work
    // WORK ends