main
    // THUMBNAILS
    include thumbnails
    // THUMBNAILS ends
    .container
        section.features
            .row
                .col-xs-4
                    i.features-icon
                    h4.features-title Awesome Sliders
                    p.features-text Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.
                .col-xs-4
                    i.features-icon
                    h4.features-title Modern Theme
                    p.features-text Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.
                .col-xs-4
                    i.features-icon
                    h4.features-title Customize It
                    p.features-text Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.