mixin list(items)
    ul&attributes(attributes)
        each item in items
            li
                - var linkatts = {'href': item.link}
                a()&attributes(linkatts)= item.title




                            
                            
                            
mixin workthubm(title)
    .work-thumb&attributes(attributes)
        a(href="#").work-thumb_title=title