mixin list(items)
    ul&attributes(attributes)
        each item in items
            li
                - var linkatts = {'href': item.link}
                a()&attributes(linkatts)= item.title



mixin slide(path,text1,text2,text3)
    .slide
        img(data-lazy='img/pic/'+path, alt="slide")
        .slide-wrap
            .container
                .row
                    .col-xs-5
                        h2.slide-text
                            span=text1
                        h2.slide-text
                            span=text2
                        h2.slide-text
                            span=text3
                            
                            
                            
mixin workthubm(path,title)
    .work-thumb&attributes(attributes)
        a(href="#").work-thumb_title=title