#slider-container
    .slider
        +slide(
            'slider1.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider2.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider3.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider4.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider5.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider6.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider1.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider2.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider3.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
        +slide(
            'slider4.jpg',
            'Place Your Description Text',
            'Here. Great Spot to Tell',
            'About Deals.')
    .container
        .slider-arrows
