.social-icons
    .row.end-xs
        a(href="#")
            svg.icon.icon-twitter
                use(xlink:href="#icon-twitter")
        a(href="#")
            svg.icon.icon-facebook
                use(xlink:href="#icon-facebook")
        a(href="#")
            svg.icon.icon-dribbble
                use(xlink:href="#icon-dribbble")
        a(href="#")
            svg.icon.icon-rss
                use(xlink:href="#icon-rss")