block var
    include var

include mixin

doctype html

html(lang="en")
    head
        title
            block title
                | #{PageTitle}
        block meta
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2")
            meta(name="description" content="Desctiption of #{thisPage.toLowerCase()} page")
        block link
            link(rel='icon', type='image/png', href='favicon.png', sizes='96x96')
            link(href="css/style.css", rel="stylesheet")
    body
        block header
            // HEADER
            include header
            // HEADER ends
        block slider
            // SLIDER
            include slider
            // SLIDER ends
        block banner
            // BANNER
            include banner
            // BANNER ends
        block main
            // MAIN
            include main
            // MAIN ends
        block footer
            // FOOTER
            include footer
            // FOOTER ens
        block script
            //script
            if siteScript
                script(src="js/main.js")
            if mapScript
                script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
            if mapInit
                script(src="js/map.js")
            //script ends
        