.thumbnails
    .thumbnail
        img(src="img/slider_thumb1.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb2.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb3.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb4.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb5.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb6.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb1.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb2.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb3.jpg", alt="thumbnail")
    .thumbnail
        img(src="img/slider_thumb4.jpg", alt="thumbnail")