section.work
    header
        ul.row.middle-xs.filter
            li.filter-item
                button(class="filter-button is-active" data-filter="*") All
            li.filter-item
                button(class="filter-button" data-filter=".print") Print
            li.filter-item
                button(class="filter-button" data-filter=".photography") Photography
            li.filter-item
                button(class="filter-button" data-filter=".web") Web
            li.filter-item
                button(class="filter-button" data-filter=".animation") Animation
    .row.work-gallery
        block gallery
            +workthubm('Business Cards')(class="print web")
            +workthubm('Flowers')(class="web animation")
            +workthubm('Obnimashki')(class="photography animation")
            +workthubm('Religion Styling')(class="animation")
            +workthubm('Jewelry Design')(class="animation")
            +workthubm('Bodyguard service')(class="photography")
            +workthubm('Safety Match')(class="print web")
            +workthubm('Wedding Photo')(class="photography animation")