.container
    section.work
        header
            ul.row.filter
                li.filter-item.active
                    a(href="#") All
                li.filter-item
                    a(href="#") Print
                li.filter-item
                    a(href="#") Photography
                li.filter-item
                    a(href="#") Web
                li.filter-item
                    a(href="#") Animation
        .row
            +workthubm('gallery1.jpg', 'Business Cards')
            +workthubm('gallery2.jpg', 'Flowers')
            +workthubm('gallery3.jpg', 'Obnimashki')
            +workthubm('gallery4.jpg', 'Religion Styling')
            +workthubm('gallery5.jpg', 'Jewelry Design')
            +workthubm('gallery6.jpg', 'Bodyguard service')
            +workthubm('gallery7.jpg', 'Safety Match')
            +workthubm('gallery8.jpg', 'Wedding Photo')