.msg {
  margin-top: 0;

  color: $black-text;

  font-family: Liberation Sans Regular;
  font-size: em(14);
}

.vcard {
  color: $black-text;

  font-family: Liberation Sans Regular;
  font-size: em(14);
}

.vcard-company {
  margin: 0;

  color: $red;

  font-family: Liberation Sans Bold;
}

.vcard-adr {
  margin-top: 0;
}

.vcard-adr span {
  display: block;
}

.vcard-tel,
.vcard-email {
  margin: 0;
}

.vcard-email a {
  text-decoration: none;

  color: $black-text;
  &:hover {
    border-bottom: 1px solid $black-text;
  }
}

.contact-form {
  float: right;

  box-sizing: border-box;
  width: em(592);
}

.contact-form input:not([type='submit']) {
  box-sizing: border-box;
  width: em(288);
  height: em(33);
  margin: 0;
  margin-right: em(11);
  margin-bottom: em(17);
  padding-top: em(10);
  padding-right: em(15);
  padding-bottom: em(10);
  padding-left: em(15);

  border: 1px solid $black-text;
  outline: none;
}

.contact-form input:focus:not([type='submit']),
.contact-form textarea:focus {
  border: 1px solid $red;
  outline: none;
}

.contact-form input:nth-child(2n):not([type='submit']) {
  margin-right: 0;
}

.contact-form button[type='submit'] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: .667em;
  padding-right: .833em;
  padding-bottom: .583em;
  padding-left: .833em;

  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border: none;
  outline: none;
  background: none;
  background-color: $red;

  font-family: Liberation Sans Bold;
  font-size: em(12);

  &:hover {
    background-color: darken($red, 5%);
  }

  &:active {
    background-color: darken($red, 8%);
  }
}

.contact-form textarea {
  display: block;
  overflow-y: hidden;

  box-sizing: border-box;
  width: 100%;
  height: em(204);
  margin: 0;
  margin-bottom: em(15);
  padding: 0;
  padding-top: em(10);
  padding-right: em(15);
  padding-bottom: em(10);
  padding-left: em(15);

  resize: none;

  border: 1px solid black;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: $black-text;
  opacity: 1;

  font-family: Liberation Sans Regular;
  font-size: em(14);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: $red;
}