
footer {
  padding-bottom: em(40);

  border-top: em(8) solid $red;

  @extend %noise-black;
}

.footer-col {
  box-sizing: border-box;
  width: 18.625em;
}

.footer-title {
  margin-top: 5em;
  margin-bottom: 1em;

  text-transform: uppercase;

  color: #fff;

  font-family: Liberation Sans Bold;
  font-size: .875em;
}

.recent-list {
  list-style: none;
}

.recent-list-item {
  color: $footer-gray;
  border-bottom: 1px solid #3b3b3b;

  font-family: Bitter Bold;
  font-size: .875em;

  &:last-child {
    border-bottom: none;
  }

  p {
    padding-right: 1em;
  }
}

.about-text {
  color: $footer-gray;

  font-family: Liberation Sans Bold;
  font-size: .87em;
}

.social-media-icons {
  height: 6em;
}

[class^='social-media-icon-'] {
  display: block;

  width: 1.875em;
  height: 1.875em;
  margin-right: em(8);
  margin-bottom: em(8);

  text-decoration: none;

  background-image: url(../img/social-sprite.png);
  background-repeat: no-repeat;
}

.social-media-icon-1 {
  background-position: 0 0;
}

.social-media-icon-2 {
  background-position: -30px 0;
}

.social-media-icon-3 {
  background-position: -60px 0;
}

.social-media-icon-4 {
  background-position: -90px 0;
}

.social-media-icon-5 {
  background-position: -120px 0;
}

.social-media-icon-6 {
  background-position: 0 -30px;
}

.social-media-icon-7 {
  background-position: -30px -30px;
}

.social-media-icon-8 {
  margin-right: 0;

  background-position: -60px -30px;
}

.social-media-icon-9 {
  background-position: -90px -30px;
}

.social-media-icon-10 {
  background-position: -120px -30px;
}

.social-media-icon-11 {
  background-position: 0 -60px;
}

.social-media-icon-12 {
  background-position: -30px -60px;
}

.social-media-icon-13 {
  background-position: -60px -60px;
}

.social-media-icon-14 {
  background-position: -90px -60px;
}

.social-media-icon-15 {
  background-position: -120px -60px;
}

.social-media-icon-16 {
  margin-right: 0;

  background-position: 0 -90px;
}

.social-media-icon-17 {
  background-position: -30px -90px;
}

.social-media-icon-18 {
  background-position: -60px -90px;
}

.social-media-icon-19 {
  background-position: -90px -90px;
}

.social-media-icon-20 {
  background-position: -120px -90px;
}
