.inner-section {
  position: relative;
  z-index: 2;
}

.section-header {
  height: em(130);

  @extend %noise-black;
}

.section-header-name {
  margin-left: em(38);
}

.section-header-title,
.section-header-subtitle {
  margin: 0;
  padding: 0;

  font-family: Bitter Bold;
}

.section-header-title {
  color: #fff;

  font-size: em(30);
}

.section-header-subtitle {
  color: #d1d0d0;

  font-size: em(14);
}
