/* ========================================================================== */
/*                                                                            */
/*                             MAIN
/* ========================================================================== */


main {
  width: 100%;
  height: 100%;
  margin-top: em(-28);
  margin-bottom: em(-30);

  @extend %noise-white;
}
