.map {
  width: 100%;
  height: em(400);
  margin-bottom: em(30);
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

//REMOVES GOOGLE STUFF
a[href^='http://maps.google.com/maps'] {
  display: none !important;
}
a[href^='https://maps.google.com/maps'] {
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
//REMOVES GOOGLE STUFF ends
