@import 'slick';

#slider-container {
  position: relative;
}

.slide {
  overflow: hidden;

  max-height: 450px;
}

.slider img {
  width: 100%;
}

.slide-wrap {
  position: absolute;
  top: em(97);
  left: 0;

  width: 100%;
}

h2.slide-text {
  margin: 0;
  margin-bottom: 1px;

  font-family: Bitter Bold;
  font-size: em(24);
  line-height: 1.8;

  span {
    display: inline-block;

    padding-right: .5em;
    padding-left: .5em;

    color: #fff;
    background-color: rgba(0,0,0,.8);
  }
}

.slider-arrows {
  position: absolute;
  top: em(240);
  left: inherit;
}

.icon-arrow {
  display: inline-block;

  width: em(30);
  height: em(30);

  cursor: pointer;

  background-color: $red;

  font-size: 1em;
  line-height: 0;

  fill: #fff;

  &:first-child {
    margin-right: em(5);
  }

  &:hover {
    background-color: lighten($red, 10%);
  }
}
