.tagline {
  margin-bottom: 2.37em;
  padding-top: 1em;

  background-color: #fff;

  &-text {
    margin-bottom: 0;
    padding-bottom: 1em;

    color: $black-text;

    font-family: Bitter Regular;
    font-size: 18px;
    font-weight: 400;
  }

  &-mark {
    padding-top: em(6);
    padding-right: em(13);
    padding-bottom: em(6);
    padding-left: em(13);

    color: #fff;
    background-color: $red;
  }
}
