.work {
  position: relative;
  z-index: 5;

  margin-bottom: em(-30);
  padding-top: 2.7em;
  padding-right: em(5);
  padding-bottom: em(10);
  padding-left: em(25);

  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;

  @extend %main-border;

  & > header {
    margin-bottom: em(34);
  }
}

.filter {
  &-item {
    margin-right: em(20);

    list-style: none;
  }
}

button.filter-button {
  display: block;

  box-sizing: content-box;
  padding: 0;

  text-align: initial;
  text-indent: inherit;
  letter-spacing: inherit;
  text-transform: inherit;

  color: $black-text;
  border: 0;
  outline: 0;
  background: none;

  font-family: Bitter Regular;
  font-size: .875em;

  text-rendering: inherit;
}

button.is-active {
  padding-top: em(6);
  padding-right: em(13);
  padding-bottom: em(6);
  padding-left: em(13);

  color: #fff;
  background-color: $red;
}

.work-thumb {
  overflow: hidden;

  box-sizing: border-box;
  width: em(206);
  max-width: 206px;
  height: em(120);
  max-height: 120px;
  margin-right: em(21);
  margin-bottom: em(20);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover > .work-thumb_title {
    transform: translate(0, 0);
  }
}

.work-thumb_title {
  display: block;

  margin-top: 6.500em;
  padding-left: .7143em;

  transition: transform .6s ease;
  transform: translate(0, 2.5em);
  text-decoration: none;

  color: #fff;
  background-color: rgba(0,0,0,.6);

  font-family: Bitter Bold;
  font-size: .875em;
  line-height: 2.072em;
}

.work-thumb:nth-child(1) {
  background-image: url(../img/gallery1.jpg);
}

.work-thumb:nth-child(2) {
  background-image: url(../img/gallery2.jpg);
}

.work-thumb:nth-child(3) {
  background-image: url(../img/gallery3.jpg);
}

.work-thumb:nth-child(4) {
  background-image: url(../img/gallery4.jpg);
}

.work-thumb:nth-child(5) {
  background-image: url(../img/gallery5.jpg);
}

.work-thumb:nth-child(6) {
  background-image: url(../img/gallery6.jpg);
}

.work-thumb:nth-child(7) {
  background-image: url(../img/gallery7.jpg);
}

.work-thumb:nth-child(8) {
  background-image: url(../img/gallery8.jpg);
}
