.work {
  padding-top: 2.7em;
  padding-right: em(25);
  padding-left: em(25);

  @extend %main-border;
}

.filter {
  &-item {
    margin-right: em(20);

    list-style: none;

    a {
      text-decoration: none;

      color: $black-text;

      font-family: Bitter Regular;
      font-size: .875em;
    }
  }
}

.filter-item.active a {
  padding-top: em(6);
  padding-right: em(13);
  padding-bottom: em(6);
  padding-left: em(13);

  color: #fff;
  background-color: $red;
}
