extends includes/temp

append var
    - var thisPage = 'Blog'
    - var subTitle = 'Keep in the loop'
    - var PageTitle = PageTitle.concat(' | ' + thisPage)
    - var siteScript = false

block slider
block thumb
block features
block tagline
block work

