extends includes/temp

append var
    - var thisPage = 'Contact'
    - var subTitle = 'We are only a click away'
    - var PageTitle = PageTitle.concat(' | ' + thisPage)
    - var siteScript = false
    - var mapScript = true
    - var mapInit = true
    
block slider
block blog-page
block thumb
block features
block tagline
block work

    block map
        include includes/map
        
    block contact
        include includes/block-contacts