extends includes/temp

append var
    -var thisPage = 'Contact'
    -var PageTitle = PageTitle.concat(' | ' + thisPage)
    
block slider
block blog-page
block thumb
block features
block tagline
block work