doctype html
include includes/var
include includes/mixin

html(lang="en")
    head
        title Intent
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='icon', type='image/png', href='favicon.png', sizes='96x96')
        link(href="css/style.css", rel="stylesheet")
    body
        // HEADER
        include includes/header
        // HEADER ends
        // MAIN
        include includes/main
        // MAIN ends
        // FOOTER
        include includes/footer
        // FOOTER ens
        script(src="js/main.js")