extends includes/temp

append var
    -var thisPage = 'Portfolio'
    -var subTitle = 'See Some of my work'
    -var PageTitle = PageTitle.concat(' | ' + thisPage)


block slider
block blog-page
block thumb
block features
block tagline
block append gallery
    +workthubm('Test Cards')(class="print web")
    +workthubm('Test Cards')(class="print web")
    +workthubm('Test Cards')(class="print web")
    +workthubm('Test Cards')(class="print web")
    +workthubm('Test Cards')(class="print")
    +workthubm('Test Cards')(class="photography web")
    +workthubm('Test Cards')(class="animation")
    +workthubm('Test Cards')(class="print web")
